body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #2c2c2c;
    color: #fff;
}
.container {
    display: flex;
    height: 100vh;
}
.sidebar {
    width: 20%;
    background-color: #333;
    padding: 20px;
}
.sidebar .logo img {
    width: 100%;
}
.sidebar nav ul {
    list-style: none;
    padding: 0;
}
.sidebar nav ul li {
    margin: 20px 0;
}
.sidebar nav ul li a {
    text-decoration: none;
    color: #fff;
}
.main-content {
    width: 80%;
    padding: 20px;
    background-color: #1c1c1c;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

header input {
    width: 60%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #000; 
    color: #fff;
}

header .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

header .signup {
    background-color: #ff2424;
    color: #fff;
    width: 130px;
}

header .login {
    background-color: #ff2424;
    color: #fff;
    width: 130px;
}

.banner img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.menu {
    background-color: #2c2c2c;
    padding: 20px;
    border-radius: 10px;
}

.menu h2 {
    margin-top: 0;
}
.food-items {
    display: flex;
    flex-wrap: wrap;
}

.food-item {
    width: 30%;
    margin: 10px;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    text-align: center;
}

.food-item img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.food-item h3 {
    margin: 10px 0;
}

.food-item p {
    margin: 10px 0;
    font-size: 1.2em;
}

.food-item button {
    padding: 10px 20px;
    background-color: rgb(54,58,67);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}